{env, [
    {debug, ?debug},
    {version, "?version"},
    {svr_version, "?svr_version"},
    {svr_type, ?svr_type},
    {svr_id, ?svr_id},
    {svr_ip, "?svr_ip"},
    {svr_name, "?svr_name"},
    {game_db_server, "?game_db_server"},
    {game_db_name, "?game_db_name"},
    {oss_db_server, "?oss_db_server"},
    {oss_db_name, "?oss_db_name"}
]}
